<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>

<body>
<header>
  <div class="header__logo">
    <p class="header__logo__title">АналитКа</p>
  </div>
</header>

<div class="auth-page">

  <div class="auth-card">

    <h1>АналитКа</h1>

    <form th:action="@{/login}" method="post">

      <div class="auth-group">
        <label>Email</label>
        <input type="email" name="username" required>
      </div>

      <div class="auth-group">
        <label>Пароль</label>
        <input type="password" name="password" required>
      </div>

      <button class="auth-submit" type="submit">
        Войти
      </button>

    </form>

    <div th:if="${param.error}"
         style="margin-top:15px;color:red;text-align:center;">
      Неверный email или пароль
    </div>

    <a href="/registration" class="auth-link">
      Создать аккаунт
    </a>

  </div>

</div>

</body>
</html>