<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>

  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<header>
  <div class="header__logo">
    <p class="header__logo__title">АналитКа</p>
  </div>
</header>

<div class="auth-page">

  <div class="auth-card">

    <h1>Регистрация</h1>

    <form th:action="@{/registration}"
          method="post"
          th:object="${user}">

      <div class="auth-group">
        <label>Email</label>
        <input type="email" th:field="*{email}" required>
      </div>

      <div class="auth-group">
        <label>Пароль</label>
        <input type="password" th:field="*{password}" required>
      </div>

      <button class="auth-submit" type="submit">
        Зарегистрироваться
      </button>

    </form>

    <a href="/login" class="auth-link">
      Уже есть аккаунт
    </a>

  </div>

</div>

</body>
</html>